"*":
  "atom-material-ui":
    tabs:
      compactTabs: true
    treeView:
      compactList: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "go-debug"
    ]
    packagesWithKeymapsDisabled: [
      "nuclide"
    ]
    themes: [
      "atom-material-ui"
      "material-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Droid Sans Mono for Powerline"
    fontSize: 11
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "546e7097-c21c-2f01-add5-fc7461aab880"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "ide-flow":
    flowPath: "/usr/local/bin/flow"
  linter:
    errorPanelHeight: 32
  nuclide:
    installRecommendedPackages: true
    "nuclide-home":
      showHome: false
    use:
      "nuclide-diagnostics-store": false
      "nuclide-file-tree": false
      "nuclide-side-bar": false
  "tool-bar":
    iconSize: "12px"
    position: "Left"
    visible: false
  welcome:
    showOnStartup: false
".ansi.text":
  editor:
    showInvisibles: false
