"*":
  "atom-material-ui":
    colors: {}
    fonts: {}
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui: {}
  core:
    disabledPackages: [
      "go-debug"
      "vim-mode"
    ]
    themes: [
      "atom-material-ui"
      "material-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Droid Sans Mono for Powerline"
    fontSize: 11
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "546e7097-c21c-2f01-add5-fc7461aab880"
  "ide-flow":
    flowPath: "/usr/local/bin/flow"
  welcome:
    showOnStartup: false
